html{
    overflow-y: scroll;
    overflow-x: hidden;
}

body{
    background-color: #f8f9fa;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*MENU*/

.fa-accusoft{
    font-size: 48px;
    font-weight: bold;
}

.navbar-menu{
    background-color: transparent;
    border-color: transparent;
}

.navbar-toggle{
    margin-top: 20px;
}

.navbar-right{
    padding-right: 20px;
    margin-top:30px;

}

.menu-link:hover{
    background-color: #838383;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.navbar-right li a{
    padding: 0px 40px;
    font-weight: bold;
}

/*Design and Develop*/

.dd{
    margin-top: 120px;
    margin-bottom: 120px;
}

.designdevelop button{
    padding: 10px 25px;
}

/*ABOUT US*/

.au{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 220px;
    background-color: white;
}

.aboutus-head img{
    width: 20%;
    height: 20$;
}

/Skills/

.skill{
    background-color: #F8F9FA;
}

.prof-skill{
    margin-top: 100px;
    margin-bottom: 100px;
}

.prof-skill p{
    margin-top: 20px;
}

.prof-skill h1{
    padding-bottom: 20px;
}

/*Company*/

.company{
    background-color: #10C9C3;
}

.bag span{
    margin-left: 20px;
}

.bag{
    color: white;
    font-size: 20px;
}

.achievement{
    padding: 100px 0;
}

.bag p{
    margin-left: 40px;
}

/+Color+/

.color1{
    background-color: #838383;
    height: 300px;
    width: 100%;
    
}

.color2{
    background-color: #dddddd;
    height: 300px;
    width: 100%;
    
}

.color3{
    background-color: #838383;
    height: 300px;
    width: 100%;
    
}

.color4{
    background-color: #dddddd;
    height: 300px;
    width: 100%;
    
}

.color5{
    background-color: #dddddd;
    height: 300px;
    width: 100%; 
}

.color6{
    background-color: #838383;
    height: 300px;
    width: 100%; 
    
}

.color7{
    background-image: url('../images/agent.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.color8{
    background-color: #838383;
    height: 300px;
    width: 100%; 
}


.nopadding{
    padding: 0 !important;
   margin: 0 !important;
}

.nopadding{
    margin: 0;
    padding: 0;
}

/*Our Work*/

.our-work{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.our-work p{
    margin-top: 20px;
}

/*Partner*/

.partners{
    text-align: center;
}

/*Video*/

.video{
    margin-bottom: 100px;
}

.vdo{
    background-color: #DDDDDD;
    width: 100%;
    height: 500px;
}

.para{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

/* Development */

.development{
    background-color: #dddddd;
}

.ui{
    text-align: center;
    margin-top: 120px;
}

.ui i{
    font-size: 40px;
}

.ui h3{
    margin-top: 30px;
}

.ui2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

.ui2 i{
    font-size: 40px;
}

.ui2 h3{
    margin-top: 30px;
}

.partner{
    margin-top: 50px;
    margin-bottom: 50px;
}

.partner i{
    font-size: 40px;
}

/* Section10 - Project */

.project{
    background-color: #dddddd;
}

.project row{
    margin-top: 100px;
}

.project-head{
    margin-bottom: 40px;
    margin-top: 100px;
    text-align: center;
}

.project-head p{
    margin-top: 20px;
}

.username input{
    width: 100%;
}

.form-control{
    margin-bottom: 20px;
}

#head-button{
    width: 300px;
    margin-bottom: 100px;
}

#head-button{
    font-weight: bold;
    height: 50px;
}

/* Section11 - Footer */

.footer{
    margin-top: -20px;
    background-color: #141414
}

.foot-sec-1{
    color: white;
    margin-top: 100px;
}

.foot-sec-2{
    margin-top: 100px;
    color: white;
}

.foot-sec-3{
    margin-top: 100px;
}

.foot-sec-3 p{
    color: white;
    margin-left: 40px;
}


.foot-sec-4{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 40px;
}


.foot-sec-4 p{
    color: white;
}

/* Section12 - Testimonial */

#aa{
    background-color: #10c9c3;
}

.carousel-item p{
    padding: 100px 150px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}